{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h1>{{ brewery.name }}</h1>
    <p>{{ beer.description }}</p>
    </div>
    <div class="col">
<table class='table table-borderless'>
      {% for b in beers %}
<tr>
     <td>{{ b.name }} </td>
     <td>{{ b.upvote_count }}</td>
     <td>{{ b.downvote_count }}</td>
      <td>{{ b.favorite_count }}</td>
</tr>
      {% endfor %}
     </table>
            </div>
    </div>
  </div>


{% endblock %}
