{% extends 'base.html' %}

{% block content %}
<div class='table-responsive'>
    <table class="table table-striped mx-auto">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Brewery</th>
        <th scope='col'>Style</th>
        <th scope="col">Likes</th>
        <th scope="col">Dislikes</th>
        <th scope="col">Favorites</th>
      </tr>
      </thead>
      <tbody>
        {% for r in favorite_beers %}
      <tr>
        <td><a href="{%url 'main:beer' r.id %}">{{ r.name }}</a></td>
        <td>{{ r.brewery.name }}</td>
        <td>{{ r.upvote_count }}</td>
        <td>{{ r.downvote_count }}</td>
        <td>{{ r.favorite_count }}</td>
        <td>{{ r.style }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

       {% endblock %}