{% extends 'base.html' %}<!-- login.html -->
{% block extra_css %}
<style>
.form-signin {
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>

  {% endblock %}
{% block content%}

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="form-signin w-100 m-auto" method="POST"
    action="{% url 'main:login' %}">
    {% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Sign in to Beer Recs</h1>
    <div class='form-group'>
        {{ form.username }}
      </div>
      <div class='form-group'>
        {{ form.password }}
      </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">   </p>
  </form>
{% endblock %}